version: "{build}"

services:
  - postgresql101

clone_depth: 1

environment:
  matrix:
    - RUBY_FOLDER_VERSION: "26-x64"
    - POSTGRESQL_VERSION: "10"
matrix:
  fast_finish: true

cache:
  # Cache installed gems unless dependencies change
  - vendor\bundle -> Gemfile,overcommit.gemspec

install:
  # Set postgresql username and password
  - set PGUSER=postgres
  - set PGPASSWORD=Password12!

  # Add postgres executable to PATH
  - set PATH=C:\Program Files\PostgreSQL\%POSTGRESQL_VERSION%\bin\;%PATH%
  - psql --version

  # Create database of test
  - createdb my_database_test

  # Add ruby executables to PATH
  - set PATH=C:\Ruby%RUBY_FOLDER_VERSION%\bin;%PATH%
  - echo %PATH%

  # Print version and location for pre-installed grep
  - grep --version
  - where grep

  # Print version and location for pre-installed git
  - git --version
  - where git

  # Print version and location for pre-installed ruby
  - ruby --version
  - where ruby

  # Install latest version of RubyGems
  - gem update --system --no-document
  - gem --version
  - where gem

  # Install latest Bundler to work around version issues
  - gem install bundler
  - where bundler

  # Install ruby dependencies
  - bundle install

  # Migrate database of test
  - rails db:migrate RAILS_ENV=test

build: off

before_test:
  # Necessary for AuthorName and AuthorEmail pre-commit hooks to pass
  - git config --global user.email "appveyor@appveyor.ci"
  - git config --global user.name "Appveyor CI"

  # Ignore CRLF conversion warnings
  - git config --global core.autocrlf true
  - git config --global core.safecrlf false

test_script:
 - bundle exec rspec --tty --backtrace --color
 - bundle exec overcommit --sign
 - bundle exec overcommit --sign pre-commit
 - bundle exec overcommit --run
